credentials/
backup/
terraform-provider-rke-tmp*/
helm/
.vscode/
.terragrunt-cache/

*.swp
*.bak
*.credentials
*.backup
*.tfvars
*.tfstate*
*.terraform.lock*
*.log
kubeconfig_*

.secrets
.env
.terraform
.lb_dns
